page-login {
  .item-md {
    background: transparent;
  }
  .item-input .label-md {
    color: white;
  }
  .content-md {
    background: transparent;
  }
  .item-select .label-md {
    color: white;
  }
  .card-md {
    opacity: .85;
  }
}
