<ion-header>

  <ion-navbar>
    <ion-title>Merchant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-card>
      <ion-list-header>
        Loyalty Program {{exists ? 'Available' : 'Not Available'}}
      </ion-list-header>
      <button ion-item (click)="open(merchant)">{{ merchant }}</button>
    </ion-card>

    <ion-card>
      <ion-card-header>
          Point Conversion
      </ion-card-header>
      <ion-item *ngIf="exists">
        <p><span float-left>Total Spend:</span>
          <span float-right> &#36;{{total}}</span>
        </p>
        <p><span float-left>Total Point:</span><span float-right> {{floor(total * conversion)}} pts</span></p>
      </ion-item>
      <ion-item *ngIf="!exists">
        <p>Select program to view potential missed points</p>
      </ion-item>
      <ion-item *ngIf="!exists">
        <ion-label>Comparison Data</ion-label>
        <ion-select [(ngModel)]="compare">
          <ion-option [value]="x" *ngFor="let x of conversions">{{x.merchant}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="compare">
        <p><span float-left>Total Spend:</span>
          <span float-right> &#36;{{total}}</span>
        </p>
        <p><span float-left>Total Point:</span><span float-right> {{floor(total * compare.rate)}} pts</span></p>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="exists">
      <ion-card-header>
          Available Offers
      </ion-card-header>
      <button ion-item *ngFor="let offer of (exists ? offers : []); let i = index;" (click)="open(offer)">
          <span float-left>{{ mock[i].title }}</span><span float-right>{{mock[i].points}}</span>
      </button>
    </ion-card>
  </ion-list>

  <div class="join-now" padding>
    <button ion-button large color="primary" [disabled]="!exists" (click)="joinNow()">JOIN NOW!</button>
  </div>
  <p *ngIf="exists" class="on-transparent" text-center padding-top>Full Disclosure... If you join we get $1.25 as an affiliate marketer.</p>
  <p *ngIf="!exists" class="on-transparent" text-center padding-top>These purchases are not eligible for any rewards program.</p>
</ion-content>
