<ion-header>
  <ion-navbar>
    <ion-title>Loyalty</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="logo-holder" style="text-align: center">
    <br>
    <br>
    <img src="../../assets/img/Meeco Logo.png" alt="Meeco Logo" style="max-width: 75px">
  </div>
  <div *ngIf="loading" margin-top>
    <p>Searching for Loyalty programs. This may take a couple of minutes...</p>
    <ion-spinner></ion-spinner>
  </div>
  <!-- <ion-grid>
    <ion-row *ngFor="let tx of transactions$ | async">
      <ion-col col-4>{{ tx[0] }}</ion-col>
      <ion-col col-4>${{total(tx[1])}}</ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <pre>{{entitlements$ | async | json}}</pre> -->
  <!-- <pre>{{transactions$ | async | json}}</pre> -->
  {{message}}
  <div style="background: white; opacity: .85">
    <ion-list style="background: white; opacity: .85">
      <div *ngFor="let domain of domains$ | async">
        <ion-item *ngIf="domain[1].length > 0">
          There are <button (click)="open(domain[0], domain[1])">{{domain[1].length}}</button> offers available for <a target="_blank"
            [href]="domain[0]">{{domain[0]}}</a> <br>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
