page-map {
  .item-md {
    background: transparent;
  }
  .item-input .label-md {
    color: white;
  }
  .content-md {
    background: transparent;
  }
  .item-select .label-md {
    color: white;
  }
  //opacity: 0;
  //transition: opacity 150ms ease-in
}
