<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url('../assets/img/thirdphoto.jpg');background-size: cover;background-repeat: no-repeat;background-attachment: fixed;
">
  <!-- <ion-item>
    <ion-label>Merchant</ion-label>
    <ion-select name="counterparty" [(ngModel)]="selected">
      <ion-option *ngFor="let counterparty of counterparties" [value]="counterparty">{{counterparty.URL}}</ion-option>
    </ion-select>
  </ion-item> -->
  <h1>{{selected.URL}}</h1>
  <h2>Most Loyal Customers</h2>

  <!-- <pre>{{getList() | json}}</pre>    -->

  <ion-list>
    <button ion-item *ngFor="let item of getList()">
       <ion-avatar item-start>
        <img [src]="item?.user?.picture?.thumbnail" />
      </ion-avatar>
      <h2>{{item?.user?.name?.first}} {{item?.user?.name?.last}}</h2>
      <ion-note item-end>{{item.amount | number : '1.2-2'}}</ion-note>
    </button>
  </ion-list>



  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list> -->
</ion-content>
