page-search {
  h1 {
        text-align: center;
        color: white;
  }
      h2 {
        text-align: center;
        color: white;
  }
      .item-md {
        color: white;
        ion-note {
          color: white;
        }
      }
}
