page-list-master {
    .offer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .the-spinner {
        display: flex;
        justify-content: center;
    }
}
